.increase-line-height {
	line-height:1.5;
}

td,th {
	border-bottom: 1px solid #999;
}
tr:hover {
	background-color: #fdc;
}

tr.clickable { 
	cursor: pointer;
}

tr.clickable:hover {
	background-color: #90EE90;
}

th {
	background-color: #FFFFE0;
}

th.forwardSort, th.reverseSort { 
	background-color: yellow;
}

.selected {background-color:yellow;}

.tab_header {
	border-bottom: 2px solid black;
  padding: 6px;
	margin: 0px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.tab a, .tab_selected a {
	text-decoration: none;
	font-size: 18px;
}

.tab:hover, .tab_selected:hover {
	background-color: lightgreen;
}

.tab, .tab_selected{
	margin-left: 15px;
	padding: 4px;
	border: 2px solid black;
	padding-bottom: 5px;
	background-color: #dfd;
}
.tab_selected {
	border-bottom: 0px;
	padding-bottom: 7px;
}

.tab_selected {
	background-color:yellow;
}

div.table {
	border: 1px solid darkgray;
	margin: 5px;
}

.logo {
	padding-left: 10px;
	padding-top: 10px;
}

.terminold {
	color:gray;
}

.terminmozeodhlasit {
	color:green;
}

.terminnemozeodhlasit {
	color: orange;
}

.leto {
	background-color: #ffa
}

.zima {
	background-color: #ccf
}

.logout {
	position: absolute;
	right: 20px;
	top: 20px;
	font-size: 20px;
}

.logout a {
	border: 2px solid darkred;
	padding: 4px;
	background-color: #fbb;
	text-decoration: none;
}
