.increase-line-height {
	line-height:1.5;
}

td,th {
	border-bottom: 1px solid #999;
}
tr:hover {
	background-color: #fdc;
}

tr.clickable { 
	cursor: pointer;
}

tr.clickable:hover {
	background-color: #90EE90;
}

th {
	background-color: #FFFFE0;
}

th.forwardSort, th.reverseSort { 
	background-color: yellow;
}

.selected {background-color:yellow;}

.tab_header {
	border-bottom: 1px solid green;
  padding: 6px;
	margin: 10px;
}

.tab:hover, .tab_selected:hover {
	background-color: lightgreen;
}

.tab, .tab_selected{
	margin-left: 15px;
	padding: 4px;
	border: 1px solid green;
}

.tab_selected {
	background-color:yellow;
}

div.table {
	border: 1px solid darkgray;
	margin: 5px;
}
