# all
*.pyc
*.swp

# /
/.htaccess
/report
/version_info.php

# /config/
/config/configuration.php

# /javascripts/out/
/javascripts/out/*

# /nbproject/
/nbproject/private

# /temp/cookies/
/temp/cookies/*

# /temp/sessions/
/temp/sessions/*

# /web/
/web/.htaccess
