body {  
  background: #f9f9f9;
}

.increase-line-height {
  line-height:1.5;
}

p {
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  height: 1px;
  background-color: #B6B6B6;
}

/* general style for all clickable elements */
.clickable {
  cursor: pointer;
}

/* Main title && logo */

h1 {
  margin: 0.5ex;
  font-size: 250%;
}

h1.logo {
  background: #333;
  color: white;
  margin: 0;
  padding: 0.5ex;
}

a.logo {
  padding-left: 64px;
  background: transparent url("../../images/logo.png") 16px 50% no-repeat;
  min-height: 32px;
  color: white;
}

a.logo:hover {
  color: white;
}


h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 160%;
}

/* Buttons */

div.logout a.button
{
  border: 1px solid #fbc2c4;
  float: none;
  display: inline;
}

button.tableButton
{
  white-space:nowrap;
  margin:0 0 0 0;
}

button.big {
  font-size: 250%;
  width: 100%;
  height: 1.5em;
  text-align: center;
  color: white;
  background: #333;
  border: 1px solid #333;
}

button.big:hover {
  background-color: #111;
}

button {
  /* Pridajme trocha CSS3 parady, pre istotu v samostatnom pravidle */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
  box-shadow: 1px 1px 1px #CCCCCC inset, -1px -1px 1px #222222 inset;
  -moz-box-shadow: 1px 1px 1px #CCCCCC inset, -1px -1px 1px #222222 inset;
  -webkit-box-shadow: 1px 1px 1px #CCCCCC inset, -1px -1px 1px #222222 inset;
}

button.big {
  /* Pridajme trocha CSS3 parady, pre istotu v samostatnom pravidle */
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.warningBanner {
  margin: 1.5ex;
  padding: 0.7ex 1em;
  border: 1px solid #ff7f2a;
  background: #ffefaf;
}

.warningBanner strong {
  font-weight: normal;
  font-style: normal;
}

div.linkbar {
  background: #333;
  color: white;
  padding: 1ex;
}

div.linkbar a {
  color: white;
}

div.linkbar a:hover {
  color: white;
}

div.linkbarLeft {
  float: left;
}

div.linkbarRight {
  text-align: right;
}

div.infoFooter {
  border-top: 1px solid #b6b6b6;
  background: #f9f9f9;
  color: black;
  padding: 1ex 1em;
  clear: both;
}

#mainContent {
  background: white;
  color: black;
  padding-top: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid white; /* napriek moznemu marginu chceme biele pozadie aj dole */
}

#welcome {
  overflow: hidden; /* kvoli floatom */
}

p.intabs {
  margin: 1ex 1em;
}

.with-js .studium-a-zapisny-list {
  display: none;
}

.tabcontent {
  padding: 2ex 1em 0;
}

.textPage {
  padding: 0ex 1em;
  margin-bottom: 1em;
}

.textPage ol {
  padding-left: 2em;
  margin: 0.5ex 0;
}

.textPage p {
  margin: 0.75em 0;
}

.textPage h2 {
  font-size: 135%;
  margin-bottom: 0.8ex;
  margin-top: 2ex;
}

/*--------------------------------------*/

div.collapsible {
   border: 0;
   margin: 0;  
}

div.collapsible:first-child  {
   border-top: 1px solid grey;   
}

div.collapsiblecontent
{
 border:0; 
 border-bottom:1px solid grey; 
 background-color:#eee;
}

div.collapsibleheader
{
  background-color:#f7f7f7;
}

div.table_box
{  
 padding-top:10px;
 padding-bottom:0;
}

span.head
{
  font-weight:bold;
  width:120px;
  display:block;
  float:left;
  clear:both;
}

li.table_box
{  
  clear:both;
  line-height:1.2em;
}

ul.table_box
{
  list-style-type:none;
}

span.table_box_title
{
  line-height:1.5em;
  font-size:1.4em;
}

/*Specialny posledny riadok v zozname - napr. linka na zobrazenie prihlasenych studentov*/
li.last
{
  display:block; 
  clear:both; 
}

.menu
{
    color:blue;
}

div.menu
{
  font-size:1.5em; 
  background-color:#eee;
}

select.menu
{
  font-size:1em;  
}

div.linkbarLeft
{
  display:none;  
}

div.linkbarRight
{
  text-align:left;
}

.empty_content
{
  color:red;
}

h1.logo
{
    font-size:200%;
    margin:0;
    padding:0;
    
}

a.logo
{
  font-size:32px;    
  margin:0;
  padding-left:47px;
}
