/* expand/collapse elements */
.togglevisibility {
  cursor:pointer;
}

.collapsibleheader {
  margin-bottom: 0px;
  border-bottom: 1px solid gray;
}

div.collapsible div.togglevisibility {
  padding-left: 30px;
  background-image: url('../images/arrow_in.png');
  background-position: 3px 3px;
  background-repeat: no-repeat;
}

div.collapsible.collapsed div.togglevisibility {
  background-image: url('../images/arrow_out.png');
}

div.collapsible.collapsed div.collapsiblecontent {
  display: none;
}

/* div around all collapsible elements */
div.collapsible {
  border: 1px solid black;
  margin: 5px;
  margin-bottom: 15px;
}


/* ??? */

.increase-line-height {
  line-height:1.5;
}

/* general style for all clickable elements */
.clickable { 
  cursor: pointer;
}

.clickable:hover {
  background-color: #85FF85;
}

table {
  margin: 2px;
  padding-right: 5px;
}

tr {
  padding: 5px;
  margin: 5px;
}

/* table headers */
thead th {
  background-color:#b3c9ef;
}

th.forwardSort, th.reverseSort { 
  background-color: yellow;
}

/* table rows */
td,th {
  border-bottom: 1px solid #999;
}

tr:hover {
  background-color: #fdc;
}

tr:nth-child(even) {
  background-color: #F0F8FF;
}

tr.selected {background-color:yellow;}

tr.terminold {
  color:gray;
}

tr.terminmozeodhlasit {
  color:green;
}

tr.terminnemozeodhlasit {
  color: orange;
}

tr.terminodhlaseny {
  color: #aaa;
}

tr.leto {
  background-color: #FFFFD0;
}

tr.leto:nth-child(even) {
  background-color: #FFFFC2;
}

tr.zima {
  background-color: #E0E0FF;
}

tr.zima:nth-child(even) {
  background-color: #D1D1FF;
}

tr.rok {
  background-color: #E0FFE0;
}

tr.rok:nth-child(even) {
  background-color: #D1FFD1;
}

/* table footer */

tfoot tr {
  background-color:#efefef;
  font-style: italic;
}


/* Tabs */

.tab_header {
  border-bottom: 2px solid black;
  padding: 6px;
  margin: 0px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.tab a, .tab_selected a {
  text-decoration: none;
  font-size: 18px;
}

.tab:hover, .tab_selected:hover {
  background-color: lightgreen;
}

.tab, .tab_selected{
  margin-left: 15px;
  padding: 4px;
  border: 2px solid black;
  padding-bottom: 5px;
  background-color: #dfd;
}
.tab_selected {
  border-bottom: 0px;
  padding-bottom: 7px;
}

.tab_selected {
  background-color:yellow;
}

/* Main title && logo */

h1 {
  margin: 0.5ex;
  font-size: 300%;
}

.logo {
  padding-left: 64px;
  background: transparent url("../images/logo.png") 16px 50% no-repeat;
  min-height: 32px;
}

/* Logout */

.logout {
  position: absolute;
  right: 10px;
  top: 10px;
}


/* Buttons */

div.logout a.button
{
  border: 1px solid #fbc2c4;
  float: none;
  display: inline;
}

button.tableButton
{
  white-space:nowrap;
  margin:0 0 0 0;
}

/* Debug */

.debug {
  border: 1px solid black;
  padding: 2px;
  margin: 5px;
}

.debug_connection {
  margin-bottom: 0.5em;
}

.debug_connection_header, .debug_connection_block_title {
  border-bottom: 1px solid #999;
  padding: 2px;
  margin-bottom: 5px;
  background: #B3C9EF;
}

.debug_connection_method {
  font-weight: bold;
}

.debug_connection_auxinfo {
  margin-bottom: 1em;
}

.debug_connection_block {
  border: 1px solid #999;
  margin-left: 3em;
  margin-bottom: 5px;
}

.debug_connection_block pre {
  margin: 0.5em 1em;
}

.login-box input {
  width: 100%;
}

.trace {
  padding-left: 20px;
  background-image: url('../images/trace.png');
  background-position: 3px 3px;
  background-repeat: no-repeat;

  margin-top: 5px;
  margin-bottom: 5px;
}

pre.trace {
  background-image: url('../images/trace_data.png');
  padding-left: 25px;
  background-position: 2px 0px;
}

.trace_s {
  color: gray;
  position: relative;
  display: inline;
}
.trace_tooltip {
  display: none;
}

.trace_s:hover div.trace_tooltip {
  display:block;
  position: absolute;
  bottom: 2em;
  left: 2em;
  padding: 1em;
  border:1px solid #0cf;
  background-color:#cff;
  color:#000;
  z-index: 1;
}

.velkyDisclaimer {
  font-size: 150%;
}

.velkyDisclaimer em {
  color: red;
  font-style: normal;
}

.velkyDisclaimer em a {
  color: red;
}

.velkyDisclaimer strong {
  color: red;
  font-style: normal;
  font-weight: bold;
}

.warningBanner {
  font-size: 150%;
  margin: 1ex;
  padding: 0.5ex;
  padding-left: 36px;
  border: 1px solid red;
  background: transparent url("../images/error.png") 10px 50% no-repeat;
  min-height: 16px;
}

.warningBanner strong {
  font-weight: normal;
  font-style: normal;
}
