/* expand/collapse elements */
.togglevisibility {
  cursor:pointer;
}

.collapsibleheader {
  margin-bottom: 0px;
}

.with-js div.collapsible.collapsed div.collapsiblecontent {
  display: none;
}

/* div around all collapsible elements */
div.collapsible {

}

