/* ??? */

body {
  font-size: 80%;
  background: #f9f9f9;
  min-width: 70em;
}

.increase-line-height {
  line-height:1.5;
}

p {
  margin-bottom: 1em;
}

hr {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* general style for all clickable elements */
.clickable { 
  cursor: pointer;
}

.clickable:hover {
  background-color: #85FF85;
}

/* Main title && logo */

h1 {
  margin: 0.5ex;
  font-size: 250%;
}

h1.logo {
  background: #333;
  color: white;
  margin: 0;
  padding: 0.5ex;
}

a.logo {
  padding-left: 64px;
  background: transparent url("../../images/logo.png") 16px 50% no-repeat;
  min-height: 32px;
  color: white;
}

h2 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-size: 160%;
}

/* Buttons */

div.logout a.button
{
  border: 1px solid #fbc2c4;
  float: none;
  display: inline;
}

button.tableButton
{
  white-space:nowrap;
  margin:0 0 0 0;
}

.warningBanner {
  margin: 1.5ex;
  padding: 0.7ex 1em;
  border: 1px solid #ff7f2a;
  background: #ffefaf;
}

.warningBanner strong {
  font-weight: normal;
  font-style: normal;
}

div.linkbar {
  background: #333;
  color: white;
  padding: 1ex;
}

div.linkbar a {
  color: white;
}

div.linkbarLeft {
  float: left;
}

div.linkbarRight {
  text-align: right;
}

div.infoFooter {
  border-top: 1px solid #b6b6b6;
  background: #f9f9f9;
  color: black;
  padding: 1ex 1em;
  clear: both;
}

#mainContent {
  background: white;
  color: black;
  padding-top: 1em;
  padding-bottom: 2em;
  border-bottom: 1px solid white; /* napriek moznemu marginu chceme biele pozadie aj dole */
}

#welcome {
    overflow: hidden; /* kvoli floatom */
}

p.intabs {
  margin: 1ex 1em;
}

.with-js .studium-a-zapisny-list {
  display: none;
}

.tabcontent {
  padding: 2ex 1em 0;
}

.textPage {
  padding: 0ex 1em;
  margin-bottom: 1em;
}

.textPage ol {
  padding-left: 2em;
  margin: 0.5ex 0;
}

.textPage p {
  margin: 0.75em 0;
}

.textPage h2 {
  font-size: 135%;
  margin-bottom: 0.8ex;
  margin-top: 2ex;
}