a:link:after, a:visited:after {
  content:"";
}

a:link, a:visited {
  font-weight: normal;
}

th a, td a {
  text-decoration: none;
  color: black;
}

img.togglevisibilityimg {
  display: none;
}

.tab {
  display: none;
}

.tab_selected{
  display: none;
}

table {
  border: 2px solid black;
  border-collapse: collapse;
}

div.collapsible.collapsed {
  /* Ak je cast stranky schovana, nebudeme tlacit ani jej nadpis
   (na papieri si ju nerozbalim kliknutim na nadpis tak ci tak) */
  display: none;
}

tr {
 margin: 0px;
 padding: 0px;
}

tr {
  page-break-inside: avoid;
}

td, th {
  border-bottom: 2px solid black;
  border-right: 1px dashed black;
  padding: 10px;
}

th a:link, th a:visited {
  font-weight: bold;
  text-decoration: none;
}

tfoot {
  display: table-row-group;
  font-style: italic;
}

.logo a {
  color: black;
  text-decoration: inherit;
  font-weight: inherit;
}

.infoFooter {
  display: none;
}

.linkbar {
  display: none;
}

.warningBanner {
  display: none;
}

.logout {
  display: none;
}

button.tableButton img
{
  display: none;
}

.noprint {
  display: none;
}

a.togglovac {
  display: none;
}

.with-js .studium-a-zapisny-list {
  display: none;
}