table {
  margin: 0;
  border: 1px solid #999;
  /*
   * V tabulkach nechceme mat medzery medzi bunkami,
   * navyse, tato vec sposobi, ze prazdne bunky v tabulke
   * funguju OK aj v IE6/7
   */
  border-collapse: collapse;
}
table {
  /* Pridajme trocha CSS3 parady, pre istotu v samostatnom pravidle */
  -moz-box-shadow: 0 0 5px #aaa;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}

tr {
  padding: 0.5ex;
}

/* table headers */
thead th {
  background-color:#b3c9ef;
}

th.forwardSort, th.reverseSort { 
  background-color: #ef0;
}

/* table rows */
td, th {
  padding: 0.7ex 0.7em;
}

td {
  border-top: 1px solid #999;
}

tr:nth-child(even) {
  background-color: #F0F8FF;
}

tr.selected {
  background-color: #FFDC64;
  color: black;
}

tr.selected a, tr.selected a:hover {
  color: black;
}

tr.selected:hover {
  background-color: #FFEC84;
}

tr.leto {
  background-color: #FFFFD0;
}

tr.leto:nth-child(even) {
  background-color: #FFFFC2;
}

tr.zima {
  background-color: #E0E0FF;
}

tr.zima:nth-child(even) {
  background-color: #D7D7FF;
}

tr.rok {
  background-color: #E0FFE0;
}

tr.rok:nth-child(even) {
  background-color: #D7FFD7;
}

tr:hover, tr.leto:hover {
  background-color: #FFEC84;
  /* #FFEC84; */
}

tr.zima:hover {
  background-color: #9EC0FF;
}

tr.rok:hover {
  background-color: #75FF75;
}

/* table footer */

tfoot tr {
  background-color: #B3C9EF;
  font-style: italic;
}

table.calendar th {
  background-color: #b3c9ef;
}

table.calendar td {
  border: 1px solid #999;
  width: 20%;
  background-color: white;
  height: 4em;
  vertical-align: top;
}

table.calendar td.calendar-mon-1 {
  background-color: #F9F9F9;
}

table.calendar .calendar-daymonth {
  float: left;
}

table.calendar .calendar-daymonth.with-items {
  font-weight: bold;
}

table.calendar .calendar-termin {
  margin-bottom: 0.5ex;
}

table.calendar .calendar-range {
  text-align: center;
}

table.calendar .calendar-predmet {
  font-weight: bold;
  margin-bottom: 0.5ex;
}

table.calendar .calendar-poznamka {
  font-style: italic;
  margin-top: 0.5ex;
  color: #333;
}

table.calendar .calendar-today {
  background-color: #FFFFD0;
}