table {
  margin: 0;
  border: 1px solid #999;
}
table {
  /* Pridajme trocha CSS3 parady, pre istotu v samostatnom pravidle */
  -moz-box-shadow: 0 0 5px #aaa;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}

tr {
  padding: 0.5ex;
}

/* table headers */
thead th {
  background-color:#b3c9ef;
}

th.forwardSort, th.reverseSort { 
  background-color: yellow;
}

/* table rows */
td, th {
  padding: 0.7ex 0.7em;
}

td {
  border-top: 1px solid #999;
}

tr:hover {
  background-color: #fdc;
}

tr:nth-child(even) {
  background-color: #F0F8FF;
}

tr.selected {background-color:yellow;}

tr.terminold {
  color:gray;
}

tr.terminmozeodhlasit {
  color:green;
}

tr.terminnemozeodhlasit {
  color: orange;
}

tr.terminodhlaseny {
  color: #aaa;
}

tr.leto {
  background-color: #FFFFD0;
}

tr.leto:nth-child(even) {
  background-color: #FFFFC2;
}

tr.zima {
  background-color: #E0E0FF;
}

tr.zima:nth-child(even) {
  background-color: #D1D1FF;
}

tr.rok {
  background-color: #E0FFE0;
}

tr.rok:nth-child(even) {
  background-color: #D1FFD1;
}

/* table footer */

tfoot tr {
  background-color:#efefef;
  font-style: italic;
}
