table {
  margin: 0;
  border: 1px solid #999;
}
table {
  /* Pridajme trocha CSS3 parady, pre istotu v samostatnom pravidle */
  -moz-box-shadow: 0 0 5px #aaa;
  -webkit-box-shadow: 0 0 5px #aaa;
  box-shadow: 0 0 5px #aaa;
}

tr {
  padding: 0.5ex;
}

/* table headers */
thead th {
  background-color:#b3c9ef;
}

th.forwardSort, th.reverseSort { 
  background-color: #ef0;
}

/* table rows */
td, th {
  padding: 0.7ex 0.7em;
}

td {
  border-top: 1px solid #999;
}

tr:nth-child(even) {
  background-color: #F0F8FF;
}

tr:hover {
  background-color: #eee;
}

tr.selected {
  background-color: #449;
  color: white;
}

tr.selected a, tr.selected a:hover {
  color: white;
}

tr.selected:hover {
  background-color: #449;
}

tr.terminold {
  color:gray;
}

tr.leto {
  background-color: #FFFFD0;
}

tr.leto:nth-child(even) {
  background-color: #FFFFC2;
}

tr.leto:hover {
  background-color: #eee;
}

tr.zima {
  background-color: #E0E0FF;
}

tr.zima:nth-child(even) {
  background-color: #D1D1FF;
}

tr.zima:hover {
  background-color: #eee;
}

tr.rok {
  background-color: #E0FFE0;
}

tr.rok:nth-child(even) {
  background-color: #D1FFD1;
}

tr.rok:hover {
  background-color: #eee;
}

/* table footer */

tfoot tr {
  background-color: #B3C9EF;
  font-style: italic;
}
