{##
 # Template for all fajr pages.
 #
 # @copyright  Copyright (c) 2010-2012 The Fajr authors (see AUTHORS).
 #             Use of this source code is governed by a MIT license that can be
 #             found in the LICENSE file in the project root directory.
 # @author     TODO
 #}
<!DOCTYPE html>
<html lang="{{ language }}">  
  <head>
    {% block head %}
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
      <meta name="HandheldFriendly" content="True">
      <meta name="MobileOptimized" content="320">      
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
      {% if base %}
        <base href="{{ base }}" />
      {% endif %}
      {% include "layout/javascripts.html.twig" %}
      {% include "layout/css.html.twig" %}

      <link href="favicon.ico" rel="icon" type="image/x-icon" />
      <title>{% block title %}{% endblock %} - Fajr</title>
    {% endblock %}
  </head>
  <body>
    <div class="container">      
      <h1 class="logo">{% block heading %}{{ block('title') }}{% endblock %}</h1>
      <div id="mainContent">
      {#{% block warnings %}
        {% include "parts/warnings.html.twig" %}
      {% endblock %}#}
      {% block content %}{% endblock %}
      </div>
      <div class="infoFooter">
        <div>
          Verzia fajru: {% include "parts/version.html.twig" %}
        </div>
        {% block footer %}{% endblock %}
        <div>
          Copyright 2010,2011 Kolektív autorov. <a href="{{ path('about') }}">O aplikácii</a>
        </div>
      </div>
    </div>
    {% include 'parts/analytics.html.twig' %}
  </body>
</html>
