# Priklad .htaccess suboru pre testovanie fajr-u
# Note: na produkcnom serveri nechceme pouzivat .htaccess
# pretoze rewritovanie dobre nefuguje s cosignom ak
# je vramci Directory alebo .htaccess

DirectoryIndex index.php

<IfModule rewrite_module>
	RewriteEngine On
	
	# Ak je fajr v podadresari, treba nastavit
	# teda ak v browseri je http://localhost/svt/fajr/web/
	# sem treba dat /svt/fajr/web/
	#RewriteBase /cesta

	# presmerovanie na https
	#RewriteCond %{HTTPS} off
	#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,R,L]

	# presmerovanie kvoli krajsim URL-kam
	RewriteCond %{REQUEST_URI} !=/cosign/valid
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_URI} !=/
	RewriteRule ^(.*)$ index.php/$1
</IfModule>
